<h2>Channels</h2>
<p>
  <%= link_to 'New channel', new_channel_url %>
</p>  

<%- if @channels.any? -%>
  <%- @channels.each do |c| -%>
    <li>
      <%=  link_to c.title, channel_path(c) %>
    </li>
  <%- end -%>  
<%- end -%>