<!DOCTYPE html>

<html>
  
  <head>
    <meta charset="utf-8">
    <title>Peach</title>
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="/js/vendor/jquery.hoverIntent.minified.js"></script>

    <script src="/js/posters.js"></script>  
    <script src="/js/getters.js"></script>  
    <script src="/js/builders.js"></script>  
    <script src="/js/painters.js"></script>
    <script src="/js/as_handlers.js"></script>
    <script src="/js/handlers.js"></script>
  
    
    <style>
    
    body {
      font-family: Verdana, Arial, sans-serif;
      font-size: 0.8em;
    }
    
    header {
      height: 40px;
      background-color: #555;
    }
    
    hr {
      display:  none;
    }
    
    h1, h2 {
      display: none;
    }
    
    article {
      border: 1px solid #555;
      background-color: #555;
    }
    
    body, div, article, section#viewport {
      margin: 0;
      padding: 0;
    }
    
    article h3 {
      padding: 1em;
      font-size: 1.4em;
    }
    
    select#channels_menu {
      width: 20%;
      float: right;
    }
    
    div.buttons {
      display: none;
    }
    
    a.emote_on {
      color: blue;
      text-decoration: underline;
    }
    
    ul.emotes {
      width: 100%;
    }
    
    ul.emotes li {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
    }
    
    p.incoming_emoting {
      color: red;
      font-size: 1.2em;
    }
    
    article {
      height: 150px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-filter: grayscale(90%);
      -webkit-transition:.5s;
    }
    
    article:hover {
      -webkit-filter: grayscale(0%);
      background-color: #ffa06e;
    }
    
    article a {
      color: #FFFFFF;
      text-decoration: none;
    }
    
    </style>
    
  </head>

  <body>
    <h1>Peach</h1>
    
    <section id="login">
      
      <form method="post">
        <p>
          <input type="text" id="email"/>
        </p>
        <p>
          <input type="password" id="password"/>
        </p>
        <p>
          <input type="submit" id="sbmt"/>
        </p>
      </form>
    </section>
    
    <section id="canvas">
      <header></header>
      <hr>
      <section id="viewport"></section>
    </section>  
  
    
    <script>
    
    $(function(){
      
      var Peach = {
        
        run: function(){
          $('#login').hide();
          $('#app').show();
        
          get_state();
          setInterval(get_new_activities, 5000);
          //window.peach.listen();
          
        }
      
        
      }
      
      window.peach = Peach;
      
      a = localStorage.getItem('access_token');
      ENDPOINT = 'http:///0.0.0.0:3000'

      if (a) {
        window.peach.run();          
      } else{
        
        $('#sbmt').on('click', function(e){
          
          var u = $('#email').val();
          var p = $('#password').val();
          
          e.preventDefault();
          get_credentials(u,p);
          return false;
          
        });
        
      }
    });
    
    
    
    
    
    
    
    </script>
    
    
  </body>

</html>
