<!DOCTYPE html>

<html>
  
  <head>
    <meta charset="utf-8">
    <title>Peach</title>
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//jquery-textfill.github.io/jquery-textfill/jquery.textfill.min.js"></script>

    <script src="/js/vendor/jquery.hoverIntent.minified.js"></script>

    <script src="/js/config.js"></script>  
    <script src="/js/posters.js"></script>  
    <script src="/js/getters.js"></script>  
    <script src="/js/builders.js"></script>  
    <script src="/js/painters.js"></script>
    <script src="/js/as_handlers.js"></script>
    <script src="/js/handlers.js"></script>
  
    <script src="/js/peach.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../stylesheets/peach.css" />
      
  </head>

  <body>
    
    <div id="container">
      
    <h1>Peach</h1>
    
    <section id="login">
      
      <form method="post">
        <p>
          <input type="text" id="email"/>
        </p>
        <p>
          <input type="password" id="password"/>
        </p>
        <p>
          <input type="submit" id="sbmt"/>
        </p>
      </form>
    </section>
    
    <section id="canvas">
      <header></header>
      <hr>
      <section id="viewport"></section>
    </section>  
  
    
    </div>
    
  </body>

</html>
