<!DOCTYPE html>

<html>
  
  <head>
    <meta charset="utf-8">
    <title>Peach</title>
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

    <script src="/js/posters.js"></script>  
    <script src="/js/getters.js"></script>  
    <script src="/js/builders.js"></script>  
    <script src="/js/painters.js"></script>

    
    <style>
    a.emote_on {
      color: blue;
      text-decoration: underline;
    }
    </style>
    
  </head>

  <body>
    <h1>Peach</h1>
    
    <section id="login">
      
      <form method="post">
        <p>
          <input type="text" id="email"/>
        </p>
        <p>
          <input type="password" id="password"/>
        </p>
        <p>
          <input type="submit" id="sbmt"/>
        </p>
      </form>
    </section>
    
    <section id="canvas">
      <header></header>
      <section id="viewport"></section>
    </section>  
  
    
    <script>
    
    $(function(){
      
      var Peach = {
        
        
        run: function(){
          $('#login').hide();
          $('#app').show();
        
          get_user_data();
        
        }
      
        
      }
      
      a = localStorage.getItem('access_token');
      ENDPOINT = 'http:///0.0.0.0:3000'

      if (a) {
        Peach.run();
      }
      
  
      
     
    

      
  
    });
    
    
    
    
    
    
    
    </script>
    
    
  </body>

</html>
